{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} &mdash; DBS: Build Your Layers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
    <!-- IE8 requires jQuery and Bootstrap JS to load in head to prevent rendering bugs -->
    <!-- IE8 requires jQuery v1.x -->
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/patternfly.min.js' %}"></script>
    <script>
      // Initialize Datatables
      $(document).ready( function() {
        $('.datatable').dataTable();
      });
    </script>
    <link href="{% static 'css/patternfly.css' %}" rel="stylesheet" media="screen, print"/>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default navbar-pf" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          DBS Build Service
        </a>
      </div>
      <div class="collapse navbar-collapse navbar-collapse-1">
        <ul class="nav navbar-nav navbar-utility">
          <li>
          <form class="form-inline">
            <div class="form-group">
              <select class="combobox form-control" name="inline">
                <option selected="selected" value="image">Images</option>
                <option value="task">Tasks</option>
                <option value="package">Packages</option>
              </select>
            </div>
            <div class="form-group has-clear">
              <div class="search-pf-input-group">
                <label for="search2" class="sr-only">Search</label>
                <input id="search2" type="search" class="form-control" placeholder="Search">
                <button type="button" class="clear" aria-hidden="true">Search</button>
              </div>
            </div>
          </form>
          </li>
          <li>
            <a href="#">My Tasks</a>
          </li>
          <li>
            <a href="#">Images Built By Me</a>
          </li>
          <li>
            <a href="#">JSON API</a>
          </li>
          <li>
            <a href="#">Help</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="pficon pficon-user"></span>
              Jim Red Hatter <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Personal Info</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">Log out</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-primary">
          <li>
            <a href="table.html">Tasks</a>
          </li>
          <li class="active">
            <a href="table.html">Images</a>
          </li>
          <li>
            <a href="newtask.html">Build a New Image</a>
          </li>
          <li>
            <a href="newtask.html">Move Image</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li>Images</li>
          </ol>

<!-- main content -->

{% block content %}{% endblock %}

<!-- end of main content -->

        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
    <p class="panel-footer">This is an open-source project is early development stage. <a href="https://github.com/DBuildService">Get sources</a>
    or <a href="https://github.com/DBuildService/dbs-server/issues/new">report a bug</a>. &copy; Red Hat, 2014</p>
  </body>
</html>
